.container{
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
}

table{
    margin: auto;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(to bottom, #778899 0%, #696969 100%);
  }

input{
    font-size: 34px;
    width: auto;
    height: 65px;
    width: 400px;
    border-radius: 20px;
    border: 5px solid black;
    background-color: #808080;
}
button{
    font-size: 40px;
    background: blanchedalmond;
    width: 80px;
    height: 50px;
    margin: 6px;
    border-radius: 20px;
    background-color: #20b2aa;

}
.calculator{
    display: inline-block;
    background-color: #4b0082;
    padding: 23px;
    border-radius: 40px;
    border: 5px solid black;
    
}